.about {
  padding-top: 31px;
}

.about__title {
  font-size: $fontSize-subtitle;
  line-height: $lineHeight-medium_big;
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 55px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    margin-left: 160px;
  }
}
