.about {
  padding-top: 31px;
  padding-bottom: 51px;
  background-image: url("../img/slice/slice-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.about__title {
  font-size: $fontSize-subtitle;
  line-height: $lineHeight-medium_big;
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 55px;
    padding-bottom: 85px;
    background-image: url("../img/slice/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    background-repeat: no-repeat;
    background-size: 1050px 23px;
  }

  .about__title {
    padding-left: 225px;
    font-size: 53px;
    line-height: 57px;
  }
}
