.advantages {
  color: $textСolor-main;
}

.advantages__title {
  font-size: $fontSize-subtitle;
  line-height: $lineHeight-medium_big;
}

.advantages__subtitle {
  font-size: $fontSize-medium_small;
  line-height: $lineHeight-medium_small;
}
