.card {
  padding-top: 30px;
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  padding: 28px;
  border: 1px solid #ececec;
}

.card__title {
  margin: 0;
  cursor: pointer;
  font-size: $fontSize-medium_small;
  font-weight: 700;
  color: $textСolor-main;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__feature {
  display: block;
  padding-top: 6px;
  padding-bottom: 17px;
  font-size: $fontSize-small;
  line-height: $lineHeight-medium_big;
}

.card__price {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 23px;
  font-weight: 700;
  color: $textСolor-main;
  border-top: 1px solid #ececec;
}

.card__price-icon {
  cursor: pointer;
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .card {
    padding-top: 54px;
  }

  .card__container {
    display: flex;
  }

  .card__container:hover .card__description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  .card__container:active .card__description {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .card__image-link {
    width: 50%;
  }

  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .card__title {
    font-size: 20px;
  }

  .card__feature {
    font-size: $fontSize-small_big;
  }

  .card__price {
    font-size: $fontSize-medium_small;
  }
}

@media (min-width: $desktop-width) {
  .card__container {
    flex-direction: column;
  }

  .card__image-link {
    width: 100%;
  }

  .card__description {
    width: inherit;
    padding: 27px 33px 25px 27px;
  }

  .card__feature {
    padding-bottom: 37px;
  }

  .card__feature--bottom {
    padding-bottom: 13px;
  }
}
