.card {
  padding-top: 30px;
}

.card__description {
  padding: 28px;
  border: 1px solid #ececec;
}

.card__title {
  margin: 0;
  font-size: $fontSize-medium_small;
  color: $textСolor-main;
}

.card__feature {
  display: block;
  padding-top: 6px;
  padding-bottom: 17px;
  font-size: $fontSize-small;
  line-height: $lineHeight-medium_big;
}

.card__price {
  display: block;
  position: relative;
  padding-top: 22px;
  color: $textСolor-main;
  border-top: 1px solid #ececec;

  &::after {
    content: url("../img/card/basket.svg");
    position: absolute;
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .card__container {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .card__container {
    flex-direction: column;
  }
}
