.card-week {
  padding-top: 28px;
  font-weight: 700;
}

.card-week__price {
  font-size: $fontSize-medium_small;
}

.card-week__button {
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium_small;
}
