.client {
  padding-top: 33px;
  box-sizing: border-box;
}

.client__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: calc(100% - 60px);
  height: 1px;
  background-color: #62d1ba;
}

.client__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.client__name {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.client__name--indent {
  padding-top: 21px;
}

.client__input {
  min-height: 52px;
  padding: 0;
  padding-left: 16px;
  font-size: $fontSize-medium_big;
  line-height: $lineHeight-small_big;
  border: none;
  border-bottom: 2px solid $textСolor-main;

  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-small_big;
    color: $textСolor-main;
    opacity: 0.3;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
    outline: none;
  }

  &.error {
    box-shadow: 0 0 10px #600000;
  }
}

@media (min-width: $tablet-width) {
  .client {
    display: block;
    min-height: 200px;
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .client-container {
    display: grid;
    grid-template-columns: 169px 1fr;
  }

  .client__title::after {
    content: none;
  }

  .client__name {
    flex-direction: row;
    align-items: baseline;
    height: 52px;
    padding-top: 0;
  }

  .client__name--indent {
    padding-top: 24px;
  }

  .client__control {
    margin-right: 25px;
  }

  .client__input {
    width: 100%;

    &::placeholder {
      font-size: $fontSize-medium_big;
    }
  }
}

@media (min-width: $desktop-width) {
  .client-container {
    grid-template-columns: 114px 1fr;
  }

  .client__name {
    width: 700px;
  }
}
