.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__title {
  font-size: $fontSize-subtitle;
  line-height: $lineHeight-medium_big;
}

.contacts__flag {
  display: none;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.contacts__address {
  display: flex;
  padding-top: 42px;
  font-size: $fontSize-small-medium;
  line-height: $lineHeight-medium_big;
}

.contacts__email {
  display: flex;
  font-size: $fontSize-small-medium;
  line-height: $lineHeight-medium_big;
}

.contacts__email-link {
  position: relative;
  margin-left: 36px;
  color: $textСolor-secondary;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    border-color: #edf9f7;
  }
}

.contacts__email-name {
  margin: 0;
}

.contacts__address-text {
  margin: 0;
}

.contacts__address-direction {
  padding-left: 36px;
  font-style: normal;
}

.contacts__button {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 14px;
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium_small;
  background-color: $backgroundColor-body;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
    padding-top: 68px;
  }

  .contacts__flag {
    display: inline;
    position: absolute;
    right: 50px;
    top: 46px;
  }

  .contacts__container {
    flex-direction: row;
  }

  .contacts__email {
    display: block;
    margin-right: 52px;
  }

  .contacts__email-link {
    margin-left: 26px;
    padding-bottom: 6px;
  }

  .contacts__address {
    display: flex;
    padding: 0;
  }

  .contacts__address-direction {
    padding-left: 26px;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: grid;
    grid-template-columns: 464px 527px;
    column-gap: 59px;
    grid-template-areas:
      "contacts map"
      "button map";
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-top: 71px;
  }

  .contacts__wrapper {
    grid-area: contacts;
    margin-left: 160px;
    padding: 0;
  }

  .contacts__title {
    padding-top: 79px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__flag {
    top: 133px;
    left: 64px;
  }

  .contacts__container {
    flex-direction: column;
  }

  .contacts__email-link {
    padding-bottom: 10px;
  }

  .contacts__address {
    padding-top: 33px;
  }

  .contacts__map {
    grid-area: map;
    margin-left: auto;
  }

  .contacts__button {
    grid-area: button;
    align-self: end;
    height: 52px;
    margin-left: 160px;
  }
}
