.email-form {
  padding-top: 34px;
}

.email-form__title {
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 78px;
    width: calc(100% - 78px);
    height: 1px;
    background-color: #62d1ba;
  }
}

.email-form__name {
  position: relative;
}

.email-form__input {
  width: 100%;
  height: 52px;
  margin-top: 4px;
  box-sizing: border-box;
  font-size: $fontSize-medium_big;
  line-height: $lineHeight-small_big;
  border: none;
  border-bottom: 2px solid $textСolor-main;

  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-small_big;
    color: $textСolor-main;
    opacity: 0.3;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
    outline: none;
  }
}

.email-form__image {
  position: absolute;
  top: 15px;
  right: 3px;
  fill: $textСolor-main;
  opacity: 0.2;
}

.email-form__input:hover + .email-form__image,
.email-form__input:focus + .email-form__image {
  opacity: 1;
  fill: #62d1ba;
}

@media (min-width: $tablet-width) {
  .email-form {
    padding-bottom: 50px;
    background: #f1f1f1;
  }

  .email-form__wrapper {
    display: block;
  }

  .email-form__container {
    display: grid;
    grid-template-columns: 169px 1fr;
  }

  .email-form__title::after {
    content: none;
  }

  .email-form__input {
    padding-left: 18px;
    background-color: #f1f1f1;

    &::placeholder {
      font-size: $fontSize-medium_big;
    }
  }

  .email-form__image {
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .email-form__container {
    display: grid;
    grid-template-columns: 114px 1fr;
  }

  .email-form__input {
    width: 700px;
  }

  .email-form__image {
    right: 4px;
  }
}
