.email-form__title {
  padding-top: 34px;
}

.email-form__input {
  background-image: url("../img/form/mail.svg");
  background-repeat: no-repeat;
  background-position: right;

  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-small_big;
    color: $text–°olor-main;
    opacity: 0.3;
  }
}
