.feedback {
  margin-top: 58px;
}

.feedback__describe {
  margin: 0;
  padding-top: 14px;
  line-height: $lineHeight-medium_big;
}

.feedback__author {
  padding-top: 33px;
}

.feedback__author-name {
  display: block;
  font-size: $fontSize-medium_small;
  font-weight: 700;
}

.feedback__author-instagram {
  text-decoration: none;
  color: $textСolor-secondary;
  line-height: $lineHeight-medium_big;
}

.feedback__switch {
  width: 260px;
  margin: 30px auto 38px;
}

.feedback__button {
  text-align: center;
}

.feedback__button-center {
  width: 260px;
  padding: 14px;
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium_small;
  background-color: $backgroundColor-body;
}

@media (min-width: $tablet-width) {
  .feedback {
    background-image: url("../img/feedback/feedback.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 82px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feedback/feedback@2x.jpg");
    }
  }

  .feedback__wrapper {
    display: grid;
    grid-template-rows: minmax(132px, max-content) minmax(159px, max-content) minmax(166px, max-content);
    grid-template-areas:
      "title . button"
      "describe describe describe"
      "author . switch";
  }

  .feedback__title {
    grid-area: title;
    align-self: end;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__describe {
    grid-area: describe;
    align-self: end;
    padding-top: 40px;
  }

  .feedback__author {
    grid-area: author;
    align-self: center;
    padding-top: 0;
  }

  .feedback__switch {
    grid-area: switch;
    align-items: center;
    margin: 0;
  }

  .feedback__button {
    grid-area: button;
    align-self: end;
  }

  .feedback__button-center {
    width: 175px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-top: 90px;
  }

  .feedback__wrapper {
    margin-left: 160px;
  }

  .feedback__title {
    font-size: 52px;
  }

  .feedback__author {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-medium_big;
  }
}
