.form {
  padding-top: 17px;
}

.form__description {
  margin: 0;
  font-size: $fontSize-small;
}

.form__reset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
}

.form__reset-container {
  display: flex;
  flex-direction: column;
}

.form__title--decor {
  font-size: $fontSize-medium_small;
  line-height: $lineHeight-small_medium;
  color: $textСolor-form;
}

.form__required {
  font-size: $fontSize-small-medium;
  line-height: $lineHeight-small_medium;
}

.form__button {
  font-size: $fontSize-medium_small;
  line-height: $lineHeight-small_medium;
}

@media (min-width: $tablet-width) {
  .form__reset {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__reset-container {
    display: flex;
    flex-direction: column;
    width: 501px;
  }

  .form__description {
    min-height: 60px;
    margin: 0 auto;
  }

  .form__order {
    display: flex;
    padding-top: 53px;
    margin-bottom: 50px;
  }

  .form__required {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .form__reset-container {
    display: flex;
    flex-direction: column;
    width: 700px;
  }
}
