.main-footer {
  min-height: 160px;
  background-color: $backgroundColor-secondary;
}


@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    align-items: center;
    min-height: 143px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    height: 34px;
  }
}
