.main-container {
  flex-grow: 1;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 226px;
  background-color: $backgroundColor-secondary;
}

.main__title {
  font-size: $fontSize-title_page;
  line-height: $lineHeight-medium_big;
  text-align: center;
}
