.main-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: $backgroundColor-secondary;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    height: 34px;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__logo-image {
    fill: $textСolor-main;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
