.main-container {
  flex-grow: 1;
}

.main__wrapper {
  min-height: 226px;
  background-color: $backgroundColor-secondary;
}

.main__title {
  font-size: $fontSize-title_page;
  line-height: $lineHeight-medium_big;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main__title {
    padding-top: 100px;
  }
}
