.main-nav {
  width: 100%;
  margin: 0 auto;
  background-color: $backgroundColor-body;
  font-weight: 700;
  font-size: $fontSize-medium_small;
  box-shadow: 0 1px 0 #ececec;
}

.main-nav__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "catalog"
    "knitwork"
    "search"
    "basket";
}

.main-nav__catalog {
  grid-area: catalog;
}

.main-nav__knitwork {
  grid-area: knitwork;
}

.main-nav__logo {
  grid-area: logo;
}

.main-nav__search {
  grid-area: search;
}

.main-nav__basket {
  grid-area: basket;
}

.main-nav__offset-2 {
  grid-area: offset2;
}

.main-nav__hr {
  grid-area: hr;
}

.main-nav__offset-3 {
  grid-area: offset3;
}

.main-nav__new {
  grid-area: new;
}

.main-nav__sale {
  grid-area: sale;
}

.main-nav__delivery {
  grid-area: delivery;
}

.main-nav__offset-4 {
  grid-area: offset4;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  width: 30px;
  height: 30px;
  margin: 24px 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 6px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .catalog-nav {
    display: none;
  }

  .main-nav--closed .knitwork {
    display: none;
  }

  .main-nav--closed .search {
    display: none;
  }

  .main-nav--closed .basket {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 4px;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: $textСolor-main;
}

@media (min-width: $tablet-width) {
  .main-nav {
    box-shadow: none;
  }

  .main-nav__container {
    grid-template-columns: 200px 200px minmax(82px, 1fr) 314px;
    grid-template-rows: 1fr 1px minmax(45px, max-content);
    grid-template-areas:
      "logo offset1 search basket"
      "hr hr hr hr"
      "catalog knitwork . delivery";
    background-color: #f9f9f9;
  }

  .main-nav__offset-1,
  .main-nav__logo,
  .main-nav__search,
  .main-nav__basket {
    background-color: $backgroundColor-body;
  }

  .main-nav__hr {
    background-color: #e0e0e0;
  }

  .main-nav__link {
    display: inline;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__container {
    grid-template-columns: 1fr 235px 235px 210px 154px 316px 1fr;
    grid-template-rows: 1fr 1px minmax(45px, max-content);
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      "offset-1 catalog knitwork logo search basket offset2"
      "hr hr hr hr hr hr hr"
      "offset3 new sale . . delivery offset4";
  }

  .main-nav__offset-1,
  .main-nav__catalog,
  .main-nav__knitwork,
  .main-nav__offset-2 {
    background-color: $backgroundColor-body;
  }

  .main-nav__offset-1 {
    grid-area: offset-1;
  }


  .main-nav__offset-2 {
    grid-area: offset2;
  }

  .main-nav__hr {
    grid-area: hr;
  }

  .main-nav__new {
    grid-area: new;
  }

  .main-nav__sale {
    grid-area: sale;
  }

  .main-nav__delivery {
    grid-area: delivery;
  }

  .main-nav__offset-4 {
    grid-area: offset4;
  }

  .main-nav__logo {
    justify-content: center;
  }
}
