.main-header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor-body;
}

@media (min-width: $tablet-width) {
  .main-header {
    background-color: #f9f9f9;
  }

  .main-header::before {
    content: "";
    position: absolute;
    top: 89px;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
}
