.map {
  position: relative;
  overflow: hidden;
  padding-top: 62px;
}

.map__image {
  display: block;
  border: none;
  width: 100%;
  height: 457px;
}

.map__google {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 457px;
}

@media (min-width: $tablet-width) {
  .map {
    padding-top: 49px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    padding-top: 0;
  }

  .map__image {
    width: 527px;
  }
}
