.map {
  padding-top: 62px;
}

.map__image {
  display: block;
  border: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .map {
    padding-top: 49px;
  }
}

@media (min-width: $desktop-width) {
  .map__image {
    width: 527px;
  }
}
