.modal {
  min-height: 336px;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-size: $fontSize-subtitle;
  line-height: $lineHeight-medium_big;
}

.modal__choose {
  line-height: $lineHeight-medium_big;
}

.modal__button {
  width: 260px;
  height: 52px;
  margin-top: 31px;
  cursor: pointer;
  background-color: $backgroundColor-modal;
  font-size: $fontSize-medium_small;
  line-height: $lineHeight-small_medium;
  border: none;
  color: #ffffff;
}
