.new-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .new-list {
    display: flex;

    grid-area: new;
    background-color: #f9f9f9;

    :nth-child(2) {
      padding-left: 5px;
    }
  }

  .new-list__item {
    padding: 10px 40px;
  }

  .new-list__link {
    padding: 10px;
    font-size: 15px;
  }
}
