.new {
  display: none;
}

@media (min-width: $desktop-width) {
  .new {
    display: block;
    padding-top: 20px;
    padding-left: 40px;
  }

  .new__link {
    padding: 10px;
    font-size: $fontSize-small_big;
  }
}
