.order-week {
  padding-top: 28px;
  font-weight: 700;
}

.order-week__price {
  margin: 0;
  font-size: $fontSize-medium_small;
}

.order-week__button {
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium_small;
}
