.order-week {
  font-weight: 700;
}

.order-week__price {
  display: block;
  margin-bottom: 25px;
  font-size: $fontSize-medium_small;
  text-align: center;
}

.order-week__button {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 14px 0;
  box-sizing: border-box;
}

.order-week__button--theme {
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium_small;
  background-color: $backgroundColor-body;
  border: 2px solid #444444;
}

@media (min-width: $tablet-width) {
  .order-week {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: end;
    margin: 0 auto;
    padding-top: 109px;
    padding-right: 42px;
  }

  .order-week__button {
    width: 292px;
    margin-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .order-week {
    width: 292px;
    margin-left: 175px;
  }
}
