.page {
  height: 100%;
  font-family: $fontFamily;
  font-size: $fontSize-small_big;
  line-height: $lineHeight-medium;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: $backgroundColor-body;
  color: $textСolor-secondary;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 100%;
    font-size: $fontSize-medium_small;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 100%;
    font-size: $fontSize-medium_small;
  }
}
