.page {
  height: 100%;
  font-family: $fontFamily;
  font-size: $fontSize-small_big;
  line-height: $lineHeight-medium;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: $backgroundColor-body;
  color: $textСolor-secondary;
}
