.phone {
  padding-top: 34px;
}

.phone__input {
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: right;

  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-small_big;
    color: $text–°olor-main;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .phone {
    background: #f1f1f1;
  }
}
