.phone {
  padding-top: 34px;
}

.phone__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: calc(100% - 60px);
  height: 1px;
  background-color: #62d1ba;
}

.phone__name {
  position: relative;
}

.phone__input {
  width: 100%;
  height: 52px;
  margin-top: 4px;
  box-sizing: border-box;
  font-size: $fontSize-medium_big;
  line-height: $lineHeight-small_big;
  border: none;
  border-bottom: 2px solid $textСolor-main;

  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-small_big;
    color: $textСolor-main;
    opacity: 0.3;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
    outline: none;
  }

  &.error {
    box-shadow: 0 0 10px #600000;
  }
}

.phone__image {
  position: absolute;
  top: 15px;
  right: 7px;
  opacity: 0.2;
}

.phone__input:hover + .phone__image,
.phone__input:focus + .phone__image {
  opacity: 1;
  fill: #62d1ba;
}

@media (min-width: $tablet-width) {
  .phone {
    padding-top: 50px;
    background: #f1f1f1;
  }

  .phone__wrapper {
    display: block;
  }

  .phone__container {
    display: grid;
    grid-template-columns: 169px 1fr;
  }

  .phone__title::after {
    content: none;
  }

  .phone__input {
    margin: 0;
    padding-left: 18px;
    background-color: #f1f1f1;

    &::placeholder {
      font-size: $fontSize-medium_big;
    }
  }

  .phone__image {
    right: 26px;
  }
}

@media (min-width: $desktop-width) {
  .phone__container {
    display: grid;
    grid-template-columns: 114px 1fr;
  }

  .phone__input {
    width: 700px;
  }

  .phone__image {
    right: 8px;
  }
}
