.production {
  padding-top: 30px;
  margin-bottom: 58px;
}

.production__title {
  display: flex;
  padding: 22px 13px 26px 34px;
  border: 1px solid #ececec;
  border-bottom: none;
}

.production__title-image {
  margin-right: 25px;
  fill: #63d1bb;
}

.production__title-decor {
  margin: 0;
  font-size: $fontSize-medium_small;
  color: $textСolor-main;
}

.production__description {
  padding: 34px;
  border: 1px solid #ececec;
  border-top: none;
  box-sizing: border-box;
}

.production__text {
  margin: 0;
  padding-bottom: 41px;
  font-size: $fontSize-small;
}

.production__button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: $fontSize-medium;
  line-height: $lineHeight-small_medium;
  text-decoration: none;
  text-align: center;
  color: $textСolor-main;
  background-color: $backgroundColor-body;
}

@media (min-width: $tablet-width) {
  .production {
    padding-top: 53px;
  }

  .production__container {
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .production__title {
    padding: 41px 42px 24px;
  }

  .production__title-decor {
    font-size: 20px;
  }

  .production__video {
    order: -1;
  }

  .production__description {
    padding: 0 42px 46px 42px;
  }

  .production__text {
    font-size: $fontSize-small_big;
    line-height: $lineHeight-medium_big;
  }
}

@media (min-width: $desktop-width) {
  .production {
    padding-top: 57px;
  }

  .production__container {
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-areas:
      "video title"
      "video description";
    flex-direction: row;
  }

  .production__title {
    grid-area: title;
    flex-direction: column;
    padding-left: 79px;
  }

  .production__title-decor {
    width: 200px;
    padding-top: 27px;
  }

  .production__video {
    grid-area: video;
  }

  .production__description {
    grid-area: description;
    padding-left: 79px;
  }

  .production__button {
    width: 230px;
    font-size: $fontSize-medium_small;
  }
}
