.product-week {
  padding-top: 31px;
}

.product-week__title {
  margin: 0;
  line-height: $lineHeight-medium_big;
  color: $textСolor-main;
}

.title-week__subtitle {
  margin: 0;
  line-height: $lineHeight-medium_small;
  color: $textСolor-form;
}
