.product-week {
  padding-top: 31px;
}

.product-week__title {
  margin: 0;
  font-size: $fontSize-subtitle;
  line-height: $lineHeight-medium_big;
  color: $textСolor-main;
}

.product-week__subtitle {
  margin: 0;
  font-size: $fontSize-medium_small;
  line-height: $lineHeight-medium_small;
  color: $textСolor-form;
}

.product-week__subtitle .br {
  display: none;
}

.product-week__image {
  padding-top: 28px;
}

.product-week__order {
  padding-top: 25px;
}

@media (min-width: $tablet-width) {
  .product-week__wrapper {
    display: grid;
    grid-template:
      "title subtitle"
      "detail image-week"
      "order image-week";
  }

  .product-week__title {
    grid-area: title;
    font-size: 43px;
    line-height: 50px;
  }

  .product-week__subtitle {
    grid-area: subtitle;
    display: flex;
    justify-content: end;
    align-items: center;
    line-height: 17px;
  }

  .product-week__subtitle .br {
    display: block;
  }

  .product-week__detail {
    grid-area: detail;
  }

  .product-week__image {
    grid-area: image-week;
    padding-top: 50px;
  }

  .product-week__order {
    grid-area: order;
    padding-top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .product-week__wrapper {
    position: relative;
    display: block;
  }

  .product-week__title {
    margin-left: 15%;
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__subtitle {
    position: absolute;
    top: 5px;
  }

  .product-week__image {
    position: absolute;
    right: 0;
    top: 0;
  }
}
