.shape {
  padding-top: 29px;
}

.shape__name {
  font-size: $fontSize-medium_small;
  line-height: $lineHeight-small_big;
  font-weight: 700;
  color: $textСolor-main;
}

@media (min-width: $tablet-width) {
  .shape {
    padding-top: 63px;
    margin-bottom: 50px;
  }
}
