.site-list__search {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-list__link {
  padding: 27px 30px;
}

.site-list__basket-label {
  position: relative;
  display: block;
  padding-left: 46px;
}

.site-list__basket-label::before {
  content: url("../img/header/search.svg");
  position: absolute;
  top: 3px;
  left: 0;
}

.site-list__basket-input[type="search"] {
  border: none;
  outline: none;
  font-size: $fontSize-medium_small;

  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-medium;
    font-weight: 700;
    color: $textСolor-main;
  }
}

.site-list__basket-icon {
  position: absolute;
  padding-top: 3px;
}

.site-list__link span {
  padding-left: 46px;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: end;
    order: -2;
  }

  .site-list__hidden {
    display: none;
  }

  .site-list__search {
    box-shadow: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }

  .site-list__basket-label {
    padding: 0;

    &::before {
      position: relative;
    }
  }

  .site-list__basket-input {
    display: none;
  }

  .site-list__link {
    padding: 10px;
    margin: 21px 20px;
  }

  .site-list__basket-icon {
    position: static;
  }

  .site-list__link span {
    padding-left: 26px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    grid-area: site;
    padding-right: calc(50vw - 573px);
    border-bottom: 1px solid #e0e0e0;
  }
}
