.social {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  line-height: 0;
  list-style-type: none;
}

.social__item {
  display: flex;
  align-items: center;
  height: 27px;
  padding: 0 15px;
}

.social__vk-image {
  fill: #231f20;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__youtube-image {
  fill: #231f20;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__telegram-image {
  fill: #231f20;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    align-items: center;
    margin: 0;
  }
}
