.video {
  position: relative;
  padding-top: 26px;
}

.video__image {
  position: relative;

  background-image: url("../img/production/video-mobile.jpg");
  background-repeat: no-repeat;
}

.video__play {
  position: absolute;
  top: 25%;
  left: 25%;
  margin: 0;
  padding: 0;
  border: 0;
}
