.video__wrapper {
  position: relative;
}

.video__image {
  display: block;
  position: relative;
  width: 100%;
}

.video__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 101px;
  height: 77px;
  margin: auto;
  padding: 0;
  cursor: pointer;
  background-image: url("../img/production/play.svg");
  background-position: center;
  background-color: transparent;
  border: 0;

  &:hover {
    width: 121px;
    height: 92px;
    background-image: url("../img/production/play-hover.svg");
  }

  &:active {
    width: 81px;
    height: 62px;
    background-image: url("../img/production/play-active.svg");
    opacity: 0.7;
  }
}
