.wishes {
  padding-top: 34px;
}

.wishes__text {
  &::placeholder {
    font-size: $fontSize-medium_small;
    line-height: $lineHeight-small_big;
    color: $textСolor-main;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .wishes {
    padding-top: 50px;
  }
}
