.working {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 100%;
  padding-top: 90px;
  box-sizing: border-box;
  justify-content: space-between;
}

.working-wrapper {
  background-image: url("../img/working/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/working/hero-mobile@2x.png");
    background-size: auto 373px;
  }
}

.working__title {
  text-align: center;
  font-size: $fontSize-title_page;
  line-height: $lineHeight-medium_big;
}

.working__list {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 120px;
  list-style-type: none;
}

.working__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $backgroundColor-working;

  &--light {
    background-color: $backgroundColor-working--light;
  }
}

.working__link {
  display: block;
  padding-top: 21px;
  padding-bottom: 31px;
  padding-left: 30px;
  font-size: $fontSize-medium_big;
  color: #ffffff;
}

.working__item-image--light {
  padding-right: 36px;
}

.working__item-image {
  padding-right: 27px;
}

@media (min-width: $tablet-width) {
  .working::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    height: 24px;
    background-image: url("../img/slice/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-size: 778px 24px;
    background-position: 50% 50%;
  }

  .working-wrapper {
    background-image: url("../img/working/hero-tablet.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/working/hero-tablet@2x.png");
      background-size: auto 746px;
    }
  }

  .working__title {
    font-size: 43px;
    line-height: 50px;
  }

  .working__list {
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 372px;
  }

  .working__link {
    padding-top: 25px;
    padding-bottom: 34px;
    font-size: 20px;
    line-height: $lineHeight-medium_big;
  }
}

@media (min-width: $desktop-width) {
  .working::after {
    bottom: -17px;
    height: 34px;
    background-size: 1050px 34px;
  }

  .working-wrapper {
    background-image: url("../img/working/hero-desktop.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/working/hero-desktop@2x.png");
    }
  }

  .working__title {
    width: 700px;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .working__list {
    padding-top: 355px;
  }
}
